/* Your CSS here. */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    /*height: calc(100vh - 100px);
    width: calc(100vw - 600px);*/
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 50px;
    background-color: gray;
    color: white;
    text-align: center;
}

.profile{
    width: 150px;
    height: 150px;
}